%h1 Welcome to And Another Thing...
%p
  %strong And Another Thing
  is a website that lets you create and share your own blogs, as well as view blogs created by other people. It's completely
  free and easy to use.
%p
  If you'd like to get started, click
  =link_to "here", new_user_registration_path
  !